@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to DogBlog!</h1>
        <img src="/images/dogs.png" alt="Dog Image" style="max-width: 50%; height: auto;">
        <p>Come check out our <a asp-page="./Blogs/Index">Blogs</a>.</p>
    </div>
</div>
